/*
 * Local styles for HPC-UK website
 */
.bordertabstyle {
   border-collapse: collapse;
}
.bordertabstyle th {
   background: #eee;
   font-style: bold;
}
.bordertabstyle table, th, td {
   border: 1px solid black;
   padding: 5px;
}

.vertical-box {
    display: flex;
    align-items: center;
}

footer {
    margin-top: 25px;
}

.container ul {
    list-style: disc;
}

.container ul ul {
   list-style: circle;
}

.container li {
   margin-left: 2em;
}
