/*
 * Local styles for HPC-UK website
 */
.bordertabstyle {
   border-collapse: collapse;
}
.bordertabstyle th {
   background: #eee;
   font-style: bold;
}
.bordertabstyle table, th, td {
   border: 1px solid black;
   padding: 5p3x;
}

.vertical-box {
    display: flex;
    align-items: center;
}

footer {
    margin-top: 25px;
}

.page-content ul {
   list-style: disc;
}

.page-content ul ul {
  list-style: circle;
}

.page-content li {
  margin-left: 2em;
}

